/* POSITIONING */
.round1-count{
    text-align: center;

}

.form-row-rounds {
    display: grid;
    grid-template-rows: repeat(1, 100px);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.sav-play-but {
    color: #555555;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #555555;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: 'Ubuntu', sans-serif;
    }

.sav-play-but:hover {
        color:#555555;
        border-radius: 50px;
        border-color:greenyellow;
        transition: all 0.3s ease 0s;
        }

.winner-popup{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
       } 


@media screen and (max-width: 450px) {

    #tt-title{
        font-size: 0.8rem;
    }
    #r1-title{
        font-size: 0.8rem;
    }
    #r2-title{
        font-size: 0.8rem;
    }
    #r3-title{
        font-size: 0.8rem;
    }

    .sav-play-but {
        padding: 7px;
        margin-top:6px ;
        border: 2px solid #555555;
        border-radius: 4px;
        font-size: 0.65rem;
        }
    
    .sav-play-but:hover {
            border-radius: 50px;
            }
    .col-sm-3{
        font-size: 0.65rem;
    }

    #player1 {
        font-size: 0.65rem;
        padding: 4px 8px;
    }
    #player2 {
        font-size: 0.65rem;
        padding: 4px 8px;
    }
            
}

