
.main-header {
	background: rgb(229,0,21);
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;

}

.tvLabel{
	position: relative;
	width: 200px;
	height: 150px;
	margin: 20px 0;
	background: white;
	border-radius: 50% / 10%;
	color: white;
	text-align: center;
	align-items: center;
	text-indent: .1em;
	display: flex;
	flex-wrap: wrap;
}

.tv-label-heading {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
	font-size: 20px;
	display:flow-root;
	
}

.container-tv{
	/* content: "";
	display: block;
	clear: both; */
	align-items: center;
	text-align:right;
	text-align: center;
}

.nav-container{
	display: flow-root;
	float:right;
	padding-left: 20vw;
}


nav{
	text-align: right;
	display: 100%;
	

}
.navButton {
	display:inline-block;
	padding: 0.75vw;
	background-color: white;
	border-radius: 2em/3em;
	margin: 0.5vw;
}
/* .container-tv{
	width:50%;
} */
